@page "/Parent"
<h3> Parent Component</h3>
<p>String in Parent: @parentString</p>
<button @onclick="@PassToChild">Pass String To Child</button>

<Child ToChild=@parentString
                FromChild=ReceivedFromChild>
</Child>

@code{
    private string parentString = "Initial Parent String";
    private void PassToChild()
    {
        parentString += "- To Child";
    }
    private void ReceivedFromChild(string str)
    {
        parentString = str;
        StateHasChanged();
    }
}