@page "/Parent"
<h3>Parent</h3>

<h1>@Title</h1>

<ChildComponent @bind-ParentsTitle-ParentsTitleChanged="Title" />

<button @onclick="UpdateTitle">Update Title</button>

@code {
    private string Title { get; set; } = "Hello, World!";

    private void UpdateTitle()
    {
        Title = "Hello, Blazor!";
    }
}